page-login {

    width: 100%;
    height: 100%;
   background: aliceblue;
  // background: linear-gradient(360deg, #4E5EFC  ,#4EE7FC);

  .scroll-content {
    /*align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;*/
    text-align: center;
    
  }
  ion-card.card {
    margin-top: 30%;
    box-shadow: none;
    background: aliceblue;
    border-radius: 10px;
    z-index: 100;

  }
  .item {
    background: rgba(232, 230, 230, 0px);
    border: medium none;
  }
  ion-input {
    border-bottom: aquamarine solid 1px;
  }
  h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
    font-weight: lighter;
    color: #fff;
  }
  h2{
    color: #fff
  }
}



