app-profile-view{

    .profile-view__image-container {
        background-color: rgb(97, 84, 211);
        height: 100px;
        
    }
    
    .profile-image {
        padding-top:20px;
        padding-left: 25%;
        height: 100px;
        max-height: 200px;
        
    }
}
