page-welcome {

    img{
        margin-top: 0%;
        padding-left: 2%;
        color: rgb(253, 29, 223)
    }

    
        
h1{
    color: rgb(82, 82, 255);
    font-size: 1.5em;
    font-weight: 600;
    
}
h5{
    font-size: 0.7em;
    font-family: baloo;
    margin-top: -3%;
    color: rgb(224, 18, 132)

}

}
